@charset“UTF-8”;
/* CSS 文档 */



/*电脑版本*/
@media屏幕和（最小宽度：501px){
.箱{
		宽度：600px;
		背景图片：线性渐变（向右，#F78CA0 0%，#F9748F 19%，#FD868C 60%，#Fe9A8B100%);
		边框半径：10px;
		边距：0自动;
		颜色：爱丽丝蓝;
		 边距：自动;
    	位置：绝对;
    	顶部：0;
    	左：0;
   	 	右：0;
    	底部：0;
	}
.盒子图像{
		宽度：200px;
		高度：200px;
		边框半径：5px;
	}
.方框P{
		上层填充：30px;
		字体粗细：粗体;
	}
.底{
		上边距：30px;
		宽度：99%;
		高度：80px;
	
	}
.左{
		显示：内联块;
		宽度：150px;
		高度：40px;
		背景颜色：#5CB85C;
		边框颜色：#4CAE4C;
		右边距：100px;
		边框半径：5px;
		线高：40px;
		字体大小：18px;
		字体粗细：粗体;
		光标：指针;
	}
.左：悬停{
		背景颜色：#328732;
		
	}
.右{
		光标：指针;
		显示：内联块;
		宽度：150px;
		高度：40px;
		背景颜色：#C9302C;
		边框颜色：#AC2925;
		边框半径：5px;
		线高：40px;
		字体大小：16px;
		
	}
.右：悬停{
		边框颜色：#B11C18;
	}
}
/*手机端*/
@media屏幕和（最大宽度：500px){
.箱{
		宽度：100%;
		背景图片：线性渐变（向右，#F78CA0 0%，#F9748F 19%，#FD868C 60%，#Fe9A8B100%);
	
		边距：0自动;
		颜色：爱丽丝蓝;
		 边距：自动;
    	位置：绝对;
    	top: 0;
    	left: 0;
   	 	right: 0;
    	bottom: 0;
	}
		.box img{
		width:150px;
		height: 150px;
		border-radius: 5px;
	}
	.box p{
		padding-top: 30px;
		font-weight: bold;
	}
	.bottom{
		margin-top:3%;
		width: 99%;
		高度：80px;
	
	
	}
.左{
		显示：内联块;
		宽度：40%;
		高度：40px;
		背景颜色：#5CB85C;
		边框颜色：#4CAE4C;
		右边距：10%;
		边框半径：5px;
		线高：40px;
		字体大小：18px;
		字体粗细：粗体;
		光标：指针;
	}
.左：悬停{
		背景颜色：#328732;
		
	}
.右{
		光标：指针;
		显示：内联块;
		宽度：40%;
		高度：40px;
		背景颜色：#C9302C;
		边框颜色：#AC2925;
		边框半径：5px;
		线高：40px;
		字体大小：16px;
		
	}
.右：悬停{
		边框颜色：#B11C18;
	}


	

}
